*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

#header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url('images/yogendra-singh-HrpYHchKb5Y-unsplash.jpg');
    background-size: cover; 
    background-position: center;
    height: 100vh;
}

.container{
    padding: 10px 5%;
    width: 90%;
}

nav{
    margin:50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    flex-basis: 20%;

}
.logo h1{
    font-size: 3em;
    letter-spacing: 1px;
    color: #033d80;
}

nav ul{
    flex-basis: 65%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    width: 100px;
    margin: 3px 20px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #033d80;
}

.content{
    width: 60%;
    margin: 70px 0;

}
.content h5{
    font-size: 3em;
    color: #033d80;
    line-height: 40px;
}

.content h3{
    font-size: 5em;
    color: #033d80;
    margin: 70px 0 50px;
}
.content h3 span{
    color: #2273ce;
}

.btn{
    padding: 25px 15px;
    margin:45px 0;
    border: 1.5px solid #033d80;
    border-radius: 10px;
    width: 190px;
    height: 85px;
    background-color:transparent;
    color: #033d80;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
}
.btn:hover{
    background-color:#033d80;
    color: aliceblue;
    cursor: pointer;
}

/* About section styles */
#aboutMe{
    background-color: rgba(233, 244, 244, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutMe .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-holder{
    flex-basis: 35%;
}

.image-holder img{
    border-radius: 50%;
}

.content-holder{
    flex-basis: 55%;
    height:90vh;
    margin: 50px 0 0;
}

.title{
    height: 50px;
    margin-bottom: 25px;
}
.title h1{
    font-size: 3.5em;
    letter-spacing: 1px;
    color: #033d80;
}
.spaced{
    font-size: 1.1em;
    color: #033d80;
    letter-spacing: 1.2px;
}

.tab-titles{
    margin: 60px 20px 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.tab-links{
    width: 80px;
    transition: 0.5s;
    position:relative;
}

.tab-links:hover{
    cursor: pointer;
    color: #2273ce;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2273ce;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 30%;
}
.tab-contents ul li{
    list-style: none;
    color: #033d80;
    font-size: 1.08em;
    letter-spacing: 0.8px;
    margin-top: 15px;
}
.tab-contents ul li span{
    color: #2273ce;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

#services{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.card-boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 20px;
}

.card{
    color: #d7e0ea;
    padding: 40px 20px;
    border-radius: 9px;
    background: #033d80;
    transition: background 0.5s transform 0.8s ease;
}

.card:hover{
    background: #2273ce;
    transform: translateY(-10px);
}

.card i{
    font-size: 2em;
    margin-bottom: 15px;
}

.card h2{
    margin-bottom: 15px;
}
.card p{
    letter-spacing: 1.2px;
    line-height: 15px;
    margin-bottom: 15px;
}
.card a{
    text-decoration: none;
    color: #d7e0ea;
    font-weight: 400;
}
.card a:hover{
    color: #033d80;
}

/* portfolio */
#portfolio{
    display: flex;
    justify-content: center;align-items: center;
    margin-bottom: 40px;
}
.work-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin: 20px 5px;
}

.work{
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.work img{
    border-radius: 15px;
    width: 100%;
    display: block;
    object-fit: contain;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(165, 193, 225, 0.6), #2273ce);
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px 15px;
    color: #d7e0ea;
    transition: height 0.5s;
}
.layer h3{
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.layer p{
    letter-spacing: 1.2px;
    margin-bottom: 20px;
}

.layer a{
    text-decoration: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #d7e0ea;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layer a i{
    color: #033d80;
    font-size: 1.5em;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}